body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  line-height: 1.2
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

h1 small {
  font-size: 1rem;
  color: #888;
}

.subheading {
  margin-top: 0;
}

#main>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select,
button {
  box-sizing: border-box;
  height: 25px;
}

.qrcode {
  margin-top: 20px;
  align-self: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 0;
  display: flex;
  background: #FFFFFF
}

.qrcode__string {
  line-height: 0.6;
  color: black;
  padding: 2em;
  letter-spacing: -0.5px;
  margin: 0;
}